* {
    padding:0px;
    margin:0px;
}

body{
    background-image:url('pic.jpg');
    background-size:fill;
    background-repeat: no-repeat;
}
@font-face{font-family:ubuntu;src:url('Ubuntu/Ubuntu-Bold.ttf')}
.border {
    text-align:center;
    display:flex;
    flex-direction: row;
    width:100%;
    height: 10%;
   background-color:rgb(235, 239, 164);
   margin-top:0;
   margin-left:0;
   border-bottom:5px solid rgba(0, 0, 0, 0.511);
   align-items: center;
}

.main {
    display:flex;
    flex-direction:column;
    margin-top:30px;
    margin-left:8vw;
}
.button {
    display:flex;
    flex-direction:row;
    font-size:20px;
    font-family:ubuntu;
    text-transform: uppercase;
    color:black;
    margin-top:20px;

}

.dropbtn{
    border:0px;
    background:black;
}

.button a {
    border:3px;
    background-color:rgb(207, 216, 43);
    box-shadow: 5px 6px 0 rgb(246, 255, 120);
    padding:15px;
    color:white;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    border-radius:20px;
    margin-left:2vw;
    font-size:1vw;
    margin-bottom:20px;
    font-family:ubuntu;
    transition:0.5s;
}

.button a:hover{
    background-color:black;
    box-shadow: 5px 6px 0 rgb(58, 58, 58);
}

.border #lenchong {
    margin-left:5vw;
}

.border #guide {
    margin-left:2vw;
}
.border p {
    margin-left:2vw;
    font-size: 2vw;
    color:rgb(0, 0, 0);
    text-transform:uppercase;
    font-family:ubuntu;
}
.float {
    align-items: center;
    display:flex;
    flex-direction: row;
    position:absolute;
    margin-left:70vw;

}
.overlay{
    width:100vw;
    height:100%;
    background-color: rgba(0, 0, 0, 0.564);
}

ul{
    list-style:none;
    background-color:#000000;
    text-align: center;
    width:100%;
    
}

ul li{
    display:inline-block;
    position:relative;
    width:100%;
    height:auto;

}

ul li button,ul li a {
    display:block;
    font-size:1.5vw;
    color:white;
    text-decoration:none;
    width:20vw;
    font-family:ubuntu;
    text-transform:uppercase;
    transition:0.5s;
    height:60px;
    align-content: center;
}

ul.dropdown {
    width:100%;
    background:rgba(0, 0, 0, 0.719);
    position:absolute;
    display:none;
    z-index:999;
}

ul.dropdown li {
    display:block;
    background:rgba(0, 0, 0, 0.76);
    margin:2px 0px;
}

ul li a:hover{
    background:rgb(240, 237, 67);
    color:black;
}

ul li button:hover{
    background:rgb(240, 237, 67);
    color:black;
}

ul li:hover ul.dropdown{
    display:block;
}

ul li{
    display:block;
}

#delete {
    margin-left:48vw;
    width:8%;
    height:4%;
}

#view , #add {
    width:8%;
    height:4%;
}

#current{
    background:rgb(240, 237, 67);
    color:black;
}

.show {display: block;}

@media (max-width: 600px)
{
    .button a {
        border:3px;
        background-color:rgb(207, 216, 43);
        box-shadow: 5px 6px 0 rgb(246, 255, 120);
        color:white;
        font-weight:bold;
        text-align:center;
        text-decoration:none;
        border-radius:20px;
        margin-left:2vw;
        font-size:13px;
        margin-bottom:20px;
        font-family:ubuntu;
        transition:0.5s;
        border-width:200px;
    }

    .overlay{
        width:100vw;
        height:130%;
        background-color: rgba(0, 0, 0, 0.564);
    }

    #delete {
        margin-left:2vw;
        width:150px;
        height:100px;
    }

    #view , #add {
        width:100px;
        height:100px;
    }
    

}

@media (max-width: 700px)
{
    .button a {
        border:3px;
        background-color:rgb(207, 216, 43);
        box-shadow: 5px 6px 0 rgb(246, 255, 120);
        color:white;
        font-weight:bold;
        text-align:center;
        text-decoration:none;
        border-radius:20px;
        margin-left:2vw;
        font-size:13px;
        margin-bottom:20px;
        font-family:ubuntu;
        transition:0.5s;
        border-width:200px;
    }

    .overlay{
        width:100vw;
        height:130%;
        background-color: rgba(0, 0, 0, 0.564);
    }

    #delete {
        margin-left:2vw;
        width:110px;
        height:40px;
    }

    #view , #add {
        width:80px;
        height:40px;
    }
    

}

